#errorModal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.modalShow {
  display: block !important;
}

.errorModalInner {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.errorModalClose {
  cursor: pointer;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Quicksand, sans-serif;
  width: 100%;
  height: 50px;
  background-color: #15DCF3;
  border: 2px solid #15DCF3;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  width: 100vw;
  height: 100vh;
  background: #00f260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #00f260, #0575e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #00f260, #0575e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .CookiesInner {
    width: 70vw;
  }

  .cookieButtonFlex {
    flex-direction: column;
  }
  .cookieButtonFlex button {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 20px !important;
  }

  .errorModalInner {
    border-radius: 15px;
    padding: 20px;
    width: 75vw;
  }
  .errorModalInner h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }
  .errorModalInner p {
    margin-top: 30px;
    font-family: sans-serif;
  }
  .errorModalInner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: auto;
  }

  body {
    height: 100% !important;
  }

  .header {
    background-color: white;
    height: 60px;
    text-align: center;
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .headerLogo {
    width: 230px;
    margin-top: -84px;
  }

  .data {
    margin-top: 60px;
  }
  .data h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .dataContainer {
    margin-top: 1.8em;
  }
  .dataContainer .dataPiece {
    display: grid;
    grid-template-columns: 1fr 50px;
    border-radius: 15px;
    margin: 15px auto;
    height: 50px;
    background-color: white;
    width: 80vw;
    padding-right: 0.7em;
    padding-left: 0.7em;
  }
  .dataContainer .dataPiece h3 {
    font-weight: normal;
    transform: translateY(-5px);
  }
  .dataContainer .dataPiece p {
    text-align: right;
    font-family: sans-serif;
    transform: translateY(-4px);
    font-size: 1.2em;
    font-weight: bold;
  }

  .intro {
    margin-top: 30px;
    width: 80vw;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .intro h2 {
    font-weight: 500;
    text-align: center;
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 992px) {
  #Cookies {
    width: 700px;
  }

  .errorModalInner {
    border-radius: 15px;
    padding: 20px;
    width: 400px;
  }
  .errorModalInner h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }
  .errorModalInner p {
    margin-top: 30px;
    font-family: sans-serif;
  }
  .errorModalInner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: auto;
  }

  .header {
    background-color: white;
    height: 85px;
    text-align: center;
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .headerLogo {
    width: 270px;
    margin-top: -92px;
  }

  .statistics {
    margin-top: 150px;
    height: 450px;
  }

  .data {
    margin-top: 80px;
  }
  .data h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1.7em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .dataContainer {
    margin-top: 2.5em;
  }
  .dataContainer .dataPiece {
    display: grid;
    grid-template-columns: 1fr 70px;
    border-radius: 15px;
    margin: 15px auto;
    height: 60px;
    background-color: white;
    width: 400px;
    padding-right: 0.7em;
    padding-left: 0.7em;
  }
  .dataContainer .dataPiece h3 {
    font-weight: normal;
    font-size: 1.4em;
    transform: translateY(-5px);
  }
  .dataContainer .dataPiece p {
    text-align: right;
    font-family: sans-serif;
    transform: translateY(-8px);
    font-size: 1.5em;
    font-weight: bold;
  }

  .intro {
    margin-top: 30px;
    width: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .intro h2 {
    font-weight: 500;
    text-align: center;
    font-size: 2em;
  }
  .intro p {
    font-size: 1.3em;
  }
}
.wrapper {
  flex: 1 0 auto;
  position: relative;
}

.cookiesOn {
  display: block;
}

.cookiesOff {
  display: none;
}

#Cookies {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.CookiesInner {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-top: 30px;
  border-radius: 15px;
}
.CookiesInner h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}
.CookiesInner p {
  font-size: 1.1em;
  font-weight: bold;
}
.CookiesInner button {
  cursor: pointer;
  width: 175px;
  margin-top: 40px;
  margin-bottom: 10px;
  height: 50px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 1em;
}
.CookiesInner .cookieButtonFlex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.CookiesInner .acceptCookies {
  border-width: 1px;
  border-style: solid;
  border-right-style: none;
  border-color: limegreen;
  background-color: limegreen;
}
.CookiesInner .refuseCookies {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  background-color: white;
  color: red;
}
.CookiesInner .cookieWarning {
  font-size: 0.8em;
}

.loginContainer {
  flex-shrink: 0;
  width: calc(100vw - 40px);
  height: 20em;
  background-color: white;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 40px;
}
.loginContainer .googleWarning {
  margin-top: 2px;
  font-size: 0.9em;
}
.loginContainer .warning {
  font-weight: bold;
}
.loginContainer .button {
  border-width: 1px;
  border-style: solid;
  border-right-style: none;
  border-color: limegreen;
  margin-top: 25px;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: limegreen;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}
.loginContainer .button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}
.loginContainer .button p {
  flex-grow: 1;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: -30px;
  font-size: 13px;
}
.loginContainer .button img {
  background-color: white;
  width: 35px;
  height: 35px;
}
.loginContainer .abcRioButton {
  width: 100% !important;
}
.loginContainer a {
  text-align: center;
  color: black !important;
  text-decoration: none;
}
.loginContainer a:visited {
  color: #707070;
}
.loginContainer .registerButton {
  color: white !important;
}
.loginContainer .registerButton p {
  font-size: 1.1em;
  margin-top: 2px;
  background-color: #00d35b;
  margin-bottom: -10px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bolder;
}
.loginContainer h3 {
  margin-top: 15px;
}

.loginContainerDesktop {
  padding: 20px 20px 0px 20px;
  float: right;
  width: 350px;
  background-color: #E9E9E9;
  border-bottom-left-radius: 30px;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}
.loginContainerDesktop .button {
  border-width: 1px;
  border-style: solid;
  border-right-style: none;
  border-color: limegreen;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: limegreen;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}
.loginContainerDesktop .button:hover {
  cursor: pointer;
}
.loginContainerDesktop .button p {
  flex-grow: 1;
  text-align: center;
  margin-top: 0.8em;
  font-size: 13px;
}
.loginContainerDesktop .button img {
  background-color: white;
  width: 35px;
  height: 35px;
}
.loginContainerDesktop .abcRioButton {
  width: 100% !important;
}
.loginContainerDesktop .googleWarning {
  margin-top: 2px;
  font-size: 0.9em;
}
.loginContainerDesktop .registerButton {
  color: white;
}
.loginContainerDesktop .registerButton p {
  font-size: 1.1em;
  margin-top: 2px;
  background-color: #00d35b;
  margin-bottom: -10px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bolder;
}
.loginContainerDesktop h3 {
  margin-top: 25px;
}
.loginContainerDesktop .warning {
  font-weight: bold;
}
.loginContainerDesktop a {
  text-align: center;
  color: #707070;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .loginContainer {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .loginContainerDesktop {
    display: none;
  }
}

/*# sourceMappingURL=landingpage.css.map */
