body{
  margin:0;
  font-family: Quicksand, sans-serif;
  width: 100vw;
  height: 100%;
  background-color: #15DCF3;
}
.container {
  background-color: white;
  position: absolute;
  top: 45%;
  transform: translateY(-45%) translateX(-50%);
  left: 50%;
  height: 10em;
  max-height: 400px;
  width: 80vw;
  max-width: 700px;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.50);

  button{
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    border-style: none;
    color: white;
    background-color: #2ECC71;
    height: 40px;
    width: 105px;
    float: right;
    margin: 0.2em 0 1.5em 0;
    border-radius: 5px;
  }
}