
.faqContainer{
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
  color: #707070;
  height: calc(100% - (80px + 50px + 3em));
  width: 90vw;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  .title{
    margin-bottom: 1em;
    h1{
      font-size: 29px;
      font-weight: lighter;
    }
  }

  .questionContainer{

    margin: 3em 0 3em 0;
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    li{
      text-align: left;
      margin: 10px 0 10px 0;
      span{
        margin-left: 10px;
        text-align: left;
      }
    }
  }
}