.wrapper {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #00f260, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #00f260, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  background-color: white;
  height: 50px;

  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.5);

  &Logo {
    width: 185px;
    margin-top: -67px;
  }
}

.welcomeMessage {
  margin: 2em 0 8vh 0;
  color: white;
  font-size: 1.8em;
  font-weight: 700;
}

.insights {
  &Container {
    max-width: 500px;
    margin: auto auto;
    height: 270px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 90vw;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }

  &Header {
    h1 {
      .icon {
        margin-right: 5px;
      }

      font-size: 1.75em;
      font-weight: bold;
      transform: translateY(1em);
    }
  }

  &Content {
    display: grid;
    grid-template-columns: 1fr 79.2px;
    width: 80%;
    margin: 0 auto;
  }

  &Text {
    p {
      font-weight: bold;
      text-align: left;
      font-size: 1.3em;
      margin: 32px 0;
    }
  }

  &Data {
    font-family: sans-serif;
    color: white;
    font-size: 1.1em;
    p {
      margin: 23px 0;
      background-color: dimgrey;
      border-radius: 15px;
      padding: 0.4em;
    }
    .balance {
      margin-top: 25px;
      margin-bottom: 20px;
      border-radius: 15px;
      padding: 0.4em;
      background-color: #0E6937;
    }
  }
}