.desktopNavbar {
  display: flex;
  background-color: white;
  height: 80px;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.desktopNavbar .logoContainer {
  width: 100%;
}
.desktopNavbarLogo {
  float: left;
  width: 300px;
  margin-top: -110px;
}
.desktopNavbar .navItems {
  max-width: 700px;
  transform: translateY(-15px);
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.desktopNavbar .navItems a {
  text-decoration: none;
  color: black;
  font-family: Quicksand, sans-serif;
  font-weight: bold;
}
.desktopNavbar .navLinkHome li {
  margin-right: 10px;
  margin-left: 10px;
  width: 88px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/homepage_inactive.png");
  background-size: 34px 34px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkHomeActive li {
  margin-right: 10px;
  margin-left: 10px;
  width: 88px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/homepage_active.png");
  background-size: 34px 34px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkHelp li {
  margin-right: 10px;
  margin-left: 10px;
  width: 70px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/question_inactive.png");
  background-size: 34px 34px;
  background-position: right 24px;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkHelpActive li {
  margin-right: 10px;
  margin-left: 10px;
  width: 70px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/question_active.png");
  background-size: 34px 34px;
  background-position: right 24px;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkEarn li {
  margin-right: 10px;
  margin-left: 10px;
  width: 70px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/dollar-symbol_inactive.png");
  background-size: 34px 34px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkEarnActive li {
  margin-right: 10px;
  margin-left: 10px;
  width: 70px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/dollar-symbol_active.png");
  background-size: 36px 36px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkRedeem li {
  margin-right: 10px;
  margin-left: 10px;
  width: 105px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/giftbox_inactive.png");
  background-size: 36px 36px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkRedeemActive li {
  margin-right: 10px;
  margin-left: 10px;
  width: 105px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/giftbox_active.png");
  background-size: 36px 36px;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkSocial li {
  margin-right: 10px;
  margin-left: 10px;
  width: 95px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/multiple-users-silhouette_inactive.png");
  background-size: 38px 38px;
  background-position: right 22px;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkSocialActive li {
  margin-right: 10px;
  margin-left: 10px;
  width: 95px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/multiple-users-silhouette_active.png");
  background-size: 38px 38px;
  background-position: right 22px;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.desktopNavbar .navLinkLogout {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
  padding-bottom: 30px;
  text-align: left;
  background-image: url("../../../images/logout.png");
  background-size: 37px 37px;
  background-position: right 23px;
  background-repeat: no-repeat;
  padding-top: 30px;
}

/*# sourceMappingURL=desktopNavbar.css.map */
